//  Description: Dashboard Page Content SCSS

.property-chart {
    background-color: #F1F3F6;
}

.price-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}
